@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Vollkorn&display=swap');

html{
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn';
}

h1{
    font-family: 'Roboto Condensed';
}